
body {
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    background-color: #FF5964;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 35px;
    text-align: center;
}

.layer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

/*  styling after hovered over the front layer  */
    transition: .4s;
    transform: perspective(800px) scale(1) translateX(0) rotateY(0);
    transform-style: preserve-3d;
}

nav {
    vertical-align: center;
}

nav ul {
    padding-left: 66.66%;
    font-size: larger;
    line-height: 2;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.front {
    background-color: #FFFBC1;
}



















